.footer.fab, .footer .fas, .footer .far {
    text-align: center;
    width: 1.25em;
}

.copyright {
    background: #ffffff8a;
    color: #f56a94;
    font-size: 0.9em;
    line-height: 2em;
    padding: 0.5em 1em;
}

.hosting {
    background: #ffffff8a;
    color: #f56a94;
    font-size: 0.9em;
    font-weight: normal;
    display: block;
    padding: 0.75em 1em;
    text-decoration: none;
}

.hosting .link {
    color: #d15c7f;
}
